* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  text-align: center;
}

.grid {
  border: solid -1px black;
  height: 420px;
  width: 588px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  height: 28px;
  width: 28px;
  border: 1px solid black;
  background-color: white;
}

.info {
}

.snake {
  background-color: black;
}

.food {
  background-color: red;
}

.gameOverWrapper {
  text-align: center;
}
