* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  text-align: center;
}

.grid {
  border: solid 1px black;
  height: 422px;
  width: 590px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  height: 28px;
  width: 28px;

  background-color: white;
}

.info {
  border: solid 1px black;
  height: 422px;
  width: 590px;
  margin: auto;
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snake {
  background-color: black;
}

.head {
  background-image: url('img/snake-head.png');
}

.tail {
  background-color: white;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 28px solid black;
}

.top-left {
  border-top-left-radius: 50%;
}

.top-right {
  border-top-right-radius: 50%;
}

.bottom-right {
  border-bottom-right-radius: 50%;
}

.bottom-left {
  border-bottom-left-radius: 50%;
}

.food {
  background-color: red;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
}

p {
  margin: 10px;
  font-size: 1.5rem;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

.left {
  transform: rotate(90deg);
}

.right {
  transform: rotate(270deg);
}
